.alfa-00 { opacity: 0; }
.alfa-10 { opacity: 0.1; }
.alfa-20 { opacity: 0.2; }
.alfa-30 { opacity: 0.3; }
.alfa-40 { opacity: 0.4; }
.alfa-50 { opacity: 0.5; }
.alfa-60 { opacity: 0.6; }
.alfa-70 { opacity: 0.7; }
.alfa-80 { opacity: 0.8; }
.alfa-90 { opacity: 0.9; }