.ul { text-decoration: underline !important; }
.center {text-align: center !important; }
.uc {text-transform: uppercase !important; }
.cc {text-transform: capitalize !important; }
.node { text-decoration: underline !important; }
.nd { text-decoration: none !important; }
.kbd { border: 1px solid white; padding: 1px; margin-right: 10px !important; }
.it { font-style: italic; }
.light { font-weight: 400; }
.bold { font-weight: 700; }
.bolder { font-weight: 900; }
.ilb { display: inline-block !important; }